$mainColour: green;
$maxWidth: 1000;

$columns: 12;
$columnWidth: 100% / $columns;

@for $i from 1 through $columns{
  .col#{$i}{
    width: $columnWidth * $i;

  }
}

@mixin colourLayout{
  color: red;
  background-color: blue;
  border: 10px solid green;
}
